.children {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start none;
  background-color: #e05a7d;
}
@media (min-width: 481px) {
  .container {
    max-width: 1024px;
    padding: 2em;
    background-color: #e05a7d;
  }
}

@media (max-width: 480px) {
  .container {
    background-color: #e05a7d;
    width: 100%;
    padding: 1em;
  }
}
