.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 481px) {
  .container {
    height: 20vh;
  }

  .link {
    font-weight: bold;
    font-size: 3em;
    text-align: justify;
    color: white;
  }
}

@media (max-width: 480px) {
  .container {
    height: 30vh;
  }

  .link {
    font-weight: bold;
    font-size: 2em;
    text-align: justify;
    color: white;
  }
}
